*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headContainer{
  text-align: center;
}

#headContainer>h1{
  padding: 20px;
}